<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>servlets.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarDatos</servlet-name>
        <servlet-class>servlets.ActualizarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCoche</servlet-name>
        <servlet-class>servlets.BuscarCoche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservaCoche</servlet-name>
        <servlet-class>servlets.ReservaCoche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservasEmpleado</servlet-name>
        <servlet-class>servlets.ReservasEmpleado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarDatos</servlet-name>
        <url-pattern>/ActualizarDatos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginOficinista</servlet-name>
        <servlet-class>servlets.LoginOficinista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginOficinista</servlet-name>
        <url-pattern>/LoginOficinista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCoche</servlet-name>
        <url-pattern>/BuscarCoche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaCoche</servlet-name>
        <url-pattern>/ReservaCoche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservasEmpleado</servlet-name>
        <url-pattern>/ReservasEmpleado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
